<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_head") %>
    <title>Login | URL Shortner</title>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>

      <form method="post" action="/user/login">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <%- include("./partials/_scripts") %>
  </body>
</html>
